app
asgiref
attrs
beautifulsoup4
certifi
charset-normalizer
crispy-bootstrap5
distlib
dj-database-url
Django
django-bootstrap4
django-cors-headers
django-crispy-forms
django-email
django-environ
django-filter
djangorestframework
djangorestframework-simplejwt
drf-spectacular
EasyProcess
entrypoint2
filelock
gunicorn
idna
inflection
jsonschema
jsonschema-specifications
Markdown
MouseInfo
mss
packaging
Pillow
pipenv
platformdirs
psycopg2
psycopg2-binary
PyAutoGUI
PyGetWindow
PyJWT
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
python-decouple
pytweening
pytz
PyYAML
referencing
requests
rpds-py
soupsieve
sqlparse
stripe
typing_extensions
tzdata
uritemplate
urllib3
virtualenv
